.Toolbar {
    height: 56px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #585858 ;
    display: flex;
    padding: 0 20px;
    box-sizing: border-box;
    z-index: 90;
}

.Toolbar nav {
    height: 100%;
}

.Logo {
    height: 80%;
}
.main__nav{
    display: inline-block;
    text-align: right;
    /* width: calc(100% - 74px); */
    width: 95%;
    vertical-align: middle;
}


.main__nav a{
    margin: 8px;
}

