.NavigationItem {
    margin: 0;
    height: 100%;
    width: auto;
}
/* .NavigationItem li{
    text-decoration: none;
    padding: 20px;
    margin: 0;
    display: inline-block;
    vertical-align: middle;
    text-align: right;
    
} */
.NavigationItem a {
    color: white;
    text-decoration: none;
    width: 100%;
    box-sizing: border-box;
    background-color: #777677;
    padding:0;
    position: relative;
    top: 29%;
    right: -50px;
    padding: 10px;
    border-radius: 7px;
}


.NavigationItem a:hover,
.NavigationItem a:active{
    background-color: #6c6c6d;
}
@media (max-width: 500px){
    .NavigationItem a  {
        position: relative;
        top: 29%;
        right: 0px;
    }
}