.Button {
    background-color: transparent;
    border: none;
    color: white;
    outline: none;
    cursor: pointer;
    font: inherit;
    padding: 10px;
    margin: 10px;
    font-weight: bold;
}
.submit{
    width: 60%;
    height: 40%;
    padding: 5px;
    margin-top: 10px;
    border: 2px solid black;
    color: white;
    font-size: 25px;
    background-color: transparent;   
  }

.Button:first-of-type {
    margin-left: 0;
    padding-left: 0;
}

.Button:disabled {
    color: #ccc;
    cursor: not-allowed;
}

.Success {
    color: #5C9210;
}

.Danger {
    color: #944317;
}