.Content {
    position: relative;
    margin-top: 35px;
    /* background: url('../../images/heavy-duty.jpg'); */
    background-color: gray;
    height: 1000px;
}
@media (max-width: 500px){
    .Content{
        height: 800px;
    }
}
.Reasons{
    width: 80%;
    margin: auto;
    text-align: center;
}


.footer{
    height: 100px;
    width: 100%;
    background-color: black;
    color: white;
}
.main__footer div {

    text-align: center;
}
.footer__links {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

.footer__link {
    display: inline-block;
    margin: 0 16px;
    margin-top: 2%;
}

.footer__link a {
    color: white;
    text-decoration: none;
}
.footer article {
    text-align: center;
}

