.auth {
    position: relative;
    top: 13%;
    width: 30rem;
    margin: auto;
    max-width: 80%;
    text-align: center;
  }
  

  .sign-form{
    position: relative;
    top: 20%;
  }
  .sign-form div{
    padding: 5px;
  }
.switchSignMethodHandler{
  position: relative;
  top: 6%;
  text-align: center;
}
.switchSignMethodHandler li {
  list-style: none;
  margin: 4px;
}


  .submit{
    width: 45%;
    height: 40%;
    padding: 5px;
    margin-top: 10px;
    border: 2px solid black;
    color: white;
    font-size: 25px;
    background-color: transparent;   
  }
  .div-wraper{
    position: relative;
    top: 144px;
  }