.auth {
    position: relative;
    top: 13%;
    width: 30rem;
    margin: auto;
    max-width: 80%;
    text-align: center;
  }
  .Button {
    background-color: transparent;
    border: none;
    color: white;
    outline: none;
    cursor: pointer;
    font: inherit;
    padding: 10px;
    margin: 10px;
    font-weight: bold;
  }

  .ButtonActive{
    background-color: transparent;
    border: none;
    color: #e7640c;
    outline: none;
    cursor: pointer;
    font: inherit;
    padding: 10px;
    margin: 10px;
    font-weight: bold
  }

  .sign__form{
    position: relative;
    top: 20%;
  }
  .sign__form div{
    padding: 5px;
  }
.switchSignMethodHandler{
  text-align: center;
  position: relative;
  top: 25px;
  bottom: 40px;
  margin: 35px;
}
.switchSignMethodHandler li {
  list-style: none;
  margin: 4px;
}


  .submit{
    width: 45%;
    height: 40%;
    padding: 5px;
    margin-top: 10px;
    border: 2px solid black;
    color: white;
    font-size: 25px;
    background-color: transparent;   
  }
  .div-wraper{
    position: relative;
    top: 144px;
  }