.NavigationItems {
    margin: 0;
    padding: 0;
    list-style: none;
    height: 80%;
    display: flex;
    flex-flow: column;
    align-items: center;
    }
 
 /* .NavigationItems li:hover{
     background-color: #19dd64;
}  */

@media (min-width: 500px) {
    .NavigationItems {
        flex-flow: row;
    }
}