
.Content{
    display: flex;
    flex-flow: row;
    text-align: center;
    align-items: center;
    color: black;
    height: 9%;
    position: relative;
    left: 0px;
    box-sizing: border-box;
    border-bottom: 4px solid #0a0a0a;
    overflow: hidden;
}
.header{
text-align: "center";
margin: 10px;
border: 2px solid black;
}
.ProjectWraper{
   display: flex;
   flex-flow: column;
   border-right: 2px solid #545257ed;
   height: 100%;
   width: 40%;
   top: 0;
   background-color: white;
}
@media (max-width: 500px) {
    .Content{
        font-size: 20px;
        height: 114px;
        flex-flow: row;
    }
}
.Projects{
    color: rgb(47, 43, 43);
    position: relative;
    top: 24%;
    left: 10px;
    width: 40%;
}
.ProjectCreator{
    width: 100%;
    height: 100%;
    background-color: white;
    position: relative;
    display: flex;
    flex-flow: row;
}
.ProjectFormContainer{
    margin: 20px;
    padding: 5px;
    background: rgb(66, 64, 66);
    position: relative;
    top: 20px;
    width: 100%;
    border: 4px solid black;    
}
.Button{
    margin: 3px;
    background-color: #3d7703;
    height: 38px;
    color: white;
    position: relative;
    left: 5%;
    top: 10%;
    width: 50%;
    border-radius: 8px;
    cursor: pointer;
}
.ProjectsSection{
    width: 100%;
    height: 100%;
}

.ProjectsContainer{
    position: relative;
    width: 90%;
    height: 80%;
}
@media (max-width: 500px){
.Button{
    margin: 3px;
    background-color: #25dd0d;
    position: relative;
    top: 38%;
    left: 26%;
    height: 38px;
    width: 30%;
    border-radius: 8px;
}
}